.StatisticCard-1{
    background-image:linear-gradient(to bottom right, #55a7ff, #0053d5)!important;
}
.StatisticCard-2{
    background-image:linear-gradient(to bottom right, #e3b6ff, #a170bf)!important;
}
.StatisticCard-3{
    background-image:linear-gradient(to bottom right, #9bffc4, #91c77c)!important;
}
.StatisticCard-4{
    background-image:linear-gradient(to bottom right, #98c5db, #394d6d) !important;
}